
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
    background-color: #f9fafb;
    color: #1f2937;
    line-height: 1.6;
}


.header-principal {
    background-color: #ffffff;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    width: 100%;
}

.navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.contenedor {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.menu-izquierda {
    display: flex;
    list-style: none;
    gap: 1.5rem;
    align-items: center;
}

.nav-link {
    font-weight: 500;
    color: #1f2937;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #2563eb;
}

.logo-texto {
    font-size: 1.5rem;
    font-weight: 800;
    color: #2563eb;
    text-decoration: none;
    margin-right: 1.5rem;
}



.contenedor-centrado-auth {
    min-height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #cccccc;
}


.tarjeta-auth {
    background-color: #2c2626;
    padding: 3rem 2.5rem;
    width: 100%;
    max-width: 400px;
    border-radius: 0; 
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    color: #e0e0e0; 
    text-align: center; 
}

.titulo-auth {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    color: #ffffff;
    font-weight: normal;
}

.subtitulo-auth {
    margin-bottom: 3rem;
    font-size: 1rem;
    color: #cccccc;
}

.subtitulo-auth a {
    color: #ffffff;
    text-decoration: underline;
    font-weight: bold;
}


.grupo-input {
    margin-bottom: 2rem;
    text-align: left; 
}

.grupo-input label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: normal;
    color: #e0e0e0;
    font-size: 1rem;
}

.input-auth {
    width: 100%;
    padding: 0.8rem;
    border: none;
    background-color: #d9d9d9; 
    font-size: 1rem;
    color: #333;
    border-radius: 0;
}
.input-auth:focus {
    outline: 2px solid #fff;
}
.btn-login {
    width: 100%;
    padding: 1rem;
    background-color: #d9d9d9; 
    color: #000000; 
    border: none;
    font-size: 1.1rem;
    font-weight: 800; 
    cursor: pointer;
    margin-top: 2rem;
    border-radius: 0; 
    transition: background-color 0.3s;
}

.btn-login:hover {
    background-color: #ffffff; 
}