
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
    background-color: #f9fafb;
    color: #1f2937;
    line-height: 1.6;
}


.header-principal {
    background-color: #ffffff;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    width: 100%;
}

.navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.contenedor {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.menu-izquierda {
    display: flex;
    list-style: none;
    gap: 1.5rem;
    align-items: center;
}

.nav-link {
    font-weight: 500;
    color: #1f2937;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #2563eb;
}

.logo-texto {
    font-size: 1.5rem;
    font-weight: 800;
    color: #2563eb;
    text-decoration: none;
    margin-right: 1.5rem;
}




.contenedor-centrado-auth {
    min-height: calc(100vh - 80px); 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #f3f4f6; 
}


.tarjeta-auth {
    background-color: #a8d0db;
    padding: 3rem;
    width: 100%;
    max-width: 450px;
    border-radius: 4px; 
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    color: #333;
}

.titulo-auth {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #1f2937;
}

.subtitulo-auth {
    margin-bottom: 2rem;
    font-size: 0.95rem;
}

.subtitulo-auth a {
    color: #1f2937;
    text-decoration: underline;
    font-weight: 600;
}

.grupo-input {
    margin-bottom: 1.5rem;
}

.grupo-input label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: #1f2937;
    padding-left: 5px; 
}


.input-auth {
    width: 100%;
    padding: 0.8rem 1rem;
    border: none; 
    background-color: #e5e7eb; 
    font-size: 1rem;
    border-radius: 2px; 
}
.input-auth:focus {
    outline: 2px solid #2563eb; 
    background-color: #fff;
}


.btn-registro {
    width: 100%;
    padding: 1rem;
    background-color: #2ecc71; 
    color: white;
    border: none;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    margin-top: 1rem;
    border-radius: 2px;
    transition: background-color 0.3s;
}

.btn-registro:hover {
    background-color: #27ae60;
}